.big  {  font-family: "\u65b0\u7d30\u660e\u9ad4", "\u7d30\u660e\u9ad4"; font-size: 25px}
.biggest  {  font-family: "\u65b0\u7d30\u660e\u9ad4", "\u7d30\u660e\u9ad4"; font-size: 35px}
.label {  font-family: "Verdana", "\u65b0\u7d30\u660e\u9ad4", "\u7d30\u660e\u9ad4"; font-size: 16px;}
.label-small {  font-family: "Verdana", "\u65b0\u7d30\u660e\u9ad4", "\u7d30\u660e\u9ad4"; font-size: 12px;}
.label-en {  font-family: "Verdana", "\u65b0\u7d30\u660e\u9ad4", "\u7d30\u660e\u9ad4"; font-size: 14px; color:"#666666" }

